@{
    ViewData["Title"] = "Trang chủ";
}

<div class="page-section section-1">
    <div class="row align-items-center">
        <div class="col-lg-8 d-flex flex-column align-items-center justify-content-center" style="height: 100vh">
            <h1 class="display-4 text-center" style="font-weight: normal"><b>Chào Mừng</b></h1>
            <p class="col-lg-8 justify-content-center" style="text-align: justify; margin-top: 30px; font-style: oblique">Chào mừng bạn đến với Cửa hàng Cây Xanh! Chúng tôi là một đội ngũ đam mê cây cảnh, cam kết mang đến vẻ đẹp và sự sống đầy màu sắc của cây trong nhà đến cuộc sống của bạn.<br>Tại Cửa hàng Cây Cảnh, chúng tôi tự hào cung cấp một loạt các loại cây cảnh đa dạng và chất lượng cao, từ những cây mini dễ thương cho tới những cây to lớn với hình dáng ấn tượng. Chúng tôi đảm bảo rằng các cây cảnh của chúng tôi được chăm sóc đúng cách để đảm bảo rằng chúng sẽ thật khỏe mạnh và tươi tắn khi đến tay bạn.<br>Đội ngũ chuyên gia tư vấn của chúng tôi luôn sẵn sàng giúp đỡ bạn chọn lựa cây phù hợp với không gian sống và sở thích của bạn. Chúng tôi tin rằng cây cảnh không chỉ là một phần trang trí mà còn mang lại lợi ích cho sức khỏe và tinh thần của bạn.</p>
            <button class="finding-more-our-button", style="margin-top: 30px" asp-area="" asp-controller="Home" asp-action="Privacy">Tìm hiểu thêm về chúng tôi</button>
        </div>
        <div class="col-lg-4 d-flex justify-content-center align-items-center" style="height: 100vh">
            <img src="/svg/first_sector_logo.svg" alt="App Logo" width="100%" height="100%" class="mr-2">
        </div>
    </div>
</div>

<div class="page-section section-2">
    <div class="row align-items-center">
        <div class="container-fluid d-flex flex-column align-items-center justify-content-center" style="height: 100vh">
            <h1 class="display-4 text-center" style="font-weight: normal"><b>Mua cây từ chúng tôi</b></h1>
            <p class="col-lg-8" style="text-align: justify; margin-top: 30px; font-style: oblique">Chúng tôi hân hạnh cung cấp đến bạn những cây xanh tươi thắm và đẹp mắt. Với mong muốn mang lại không gian sống xanh mát và trong lành, chúng tôi đảm bảo rằng mỗi cây của chúng tôi được chăm sóc kỹ lưỡng và đạt chất lượng tốt nhất.<br>Hãy tham khảo danh mục cây của chúng tôi và chọn cho mình những loại cây yêu thích. Bạn cũng có thể nhận tư vấn từ đội ngũ chuyên gia về chăm sóc và bảo quản cây cảnh.</p>
            <div class="scroll-container container-fluid">
                <div class="scroll-wrapper justify-content-center" style="margin-top: 30px">
                    <div class="card-item">
                        <img src="/img/app_logo.png" alt="Image 1" width="100" height="100">
                        <h3>Name 1</h3>
                        <p>$10</p>
                    </div>
                    <div class="card-item">
                        <img src="/img/app_logo.png" alt="Image 2" width="100" height="100">
                        <h3>Name 2</h3>
                        <p>$15</p>
                    </div>
                    <div class="card-item">
                        <img src="/img/app_logo.png" alt="Image 3" width="100" height="100">
                        <h3>Name 3</h3>
                        <p>$20</p>
                    </div>
                    <div class="card-item">
                        <img src="/img/app_logo.png" alt="Image 3" width="100" height="100">
                        <h3>Name 3</h3>
                        <p>$20</p>
                    </div>
                    <div class="card-item">
                        <img src="/img/app_logo.png" alt="Image 3" width="100" height="100">
                        <h3>Name 3</h3>
                        <p>$20</p>
                    </div>
                    <!-- Add more card items as needed -->
                </div>
            </div>
            <button class="finding-more-our-button" style="margin-top: 30px" asp-area="" asp-controller="Home" asp-action="SanPham">Tìm hiểu nhiều loại cây hơn</button>
        </div>
    </div>
</div>

<div class="page-section section-1">
    <div class="row align-items-center">
        <div class="col-lg-8 d-flex flex-column align-items-center justify-content-center" style="height: 100vh">
            <h1 class="display-4 text-center" style="font-weight: normal"><b>Chăm sóc cây cùng chúng tôi</b></h1>
            <p class="col-lg-8 justify-content-center" style="text-align: justify; margin-top: 30px; font-style: oblique">Tại blog của chúng tôi, chúng tôi đưa ra những bài viết chi tiết về cách chăm sóc từng loại cây cụ thể, chia sẻ những bí quyết để cây của bạn phát triển khỏe mạnh, đẹp mắt. Bạn sẽ tìm thấy thông tin hữu ích về cách tưới nước, lượng ánh sáng phù hợp, dinh dưỡng, và cách giải quyết các vấn đề phổ biến liên quan đến cây cảnh.
                                                                                                                          
                                                                                                                          <br><br>🌱 Kinh Nghiệm Từ Cộng Đồng Chăm Sóc Cây
                                                                                                                          
                                                                                                                          <br><br>Chúng tôi không chỉ là người viết blog mà còn là một cộng đồng yêu cây, nơi mà bạn có thể chia sẻ kinh nghiệm của mình và học hỏi từ những người khác. Cùng nhau, chúng ta sẽ tạo nên một nguồn thông tin phong phú và đa dạng về chăm sóc cây, giúp mỗi người trở thành người chăm sóc cây tốt nhất.
                                                                                                                          
                                                                                                                          <br><br>🌳 Tham gia Ngay và Bắt Đầu Hành Trình Chăm Sóc Cây Của Bạn!</p>
            <button class="finding-more-our-button", style="margin-top: 30px" asp-area="" asp-controller="Home" asp-action="BaiViet">Tham gia ngay cùng chúng tôi</button>
        </div>
        <div class="col-lg-4 d-flex justify-content-center align-items-center" style="height: 100vh">
            <img src="/img/app_logo.png" alt="App Logo" width="100px" height="100px" class="mr-2">
        </div>
    </div>
</div>

<style>
    .page-section {
        width: 100%;
        height: 100vh;
    } 
    
    .section-1{
        width: 100%;
        height: 100vh;
        background-color: #A7D397;
    }
    
    .section-2{
            width: 100%;
            height: 100vh;
            background-color: #A6CF98;
    }
    
    .finding-more-our-button{
        border: 2px solid #F2FFE9; 
        border-radius: 20px; 
        background-color: #F2FFE9; 
        color: #000000; 
        padding: 10px 20px;
    }
    
    .scroll-container {
        width: 100%;
        overflow: hidden;
    }
    
    .scroll-wrapper {
    display: flex;
    white-space: nowrap;
    animation: scroll 10s linear infinite;
    }
    
    .card-item {
    flex: 0 0 auto;
    width: 200px;
    margin-right: 20px;
    border-radius: 20px; 
    padding: 10px;
    background: #f0f0f0;
    text-align: center;
    box-shadow: 5px 1px #FEFAE0;
    }
</style>



